input[type="button"] { width: 150px;
					   height: 40px;
					}
					
table, th, td {
   border: 1px solid black;
}
#tlacitka ul {
	list-style-type: none;
}
#tlacitka li a {
	border: powderblue solid thick;
	background-color: dodgerblue;
  display: block;
	text-align: center;
	width: 10em;
	padding-top: 1em;
	padding-bottom: 1em;
  text-decoration: none;
  text-align: center;
  color: white;
}
#tlacitka li a:hover {
	background-color: powderblue;
	color: dodgerblue;
}
#tlacitka li {
	width: 100px;
	margin-bottom: 1em;
	position: relative;
	top: 160px;
	left: -20px;
}
#edit_btn a {
	border: powderblue solid;
	background-color: dodgerblue;
	text-align: center;
	width: 2em;
  text-decoration: none;
  text-align: center;
  color: white;
}
#edit_btn a:hover {
	background-color: powderblue;
	color: dodgerblue;
}
#delete_btn a {
	border: red solid;
	background-color: red;
	text-align: center;
	width: 2em;
  text-decoration: none;
  text-align: center;
  color: white;
}
#delete_btn a:hover {
	background-color: orange;
	color: black;
}
span.nadpis {font: italic 150/1.5 arial;
			 font-size: 20;
			 font-style: italic;
			 line-height: 1.5em;

		}
span#nadpis_vyhledavani {position: absolute; top: 20; left: 250;}
table#hledani {position: absolute; top: 50px; left: 250px;
			   border-collapse: collapse;
			   border: solid 1px black;
			   width: 678px;
			   text-align: center;
			   }
span#nadpis_vysledku {position: absolute; top: 170; left: 250;}
table#prehled {position: absolute; top: 200px; left: 250px;
			   border: 3px silver;
			   border-collapse: collapse;
			   width: 678px
			}
td.hlavicka {height: 20px;
			 width: 140px;
			}
td#check {width: 50px;}
.buttons {width: 150px;}
#logout {position: absolute; top: 0px; right: 0px;}

#vyhledat {position: relative; top: 55px; left: 50px;}
#add {position: relative; top: 150px; left: 50px;}
#alter {position: relative; top: 170px; left: 50px;}
#delete {position: relative; top: 190px; left: 50px;}

#blok {position: relative; top: 55px; left: 170px;}
#alter_intrument {position: relative; top:190px ; left: 50px;}
#delete_instrument {position: relative; top: 250px; left: 50px;}

.hide {display: none !important; }
.show {display: block !important; }
.invisible {visibility: hidden; }
.hidden {display: none !important; visibility: hidden !important; }
